@import url("st.css");
.obj{
font-size:9px;
color:#c83349;
font-family:Cursive;
background-color:#b7d7e8;
line-height:1.1;

text-decoration: underline;
}


.objcon{
font-size:15px;
padding:10px;
color:#f18973;
border: 2px solid black;
background-color:#fff2df;
font-family:Calibri;}

.paper{
font-size:9px;
font-family:Cursive;
background-color: #deeaee;
line-height:1.1;
color: #405d27;
text-decoration: underline;}


.data{
font-size:9px;
font-family:Cursive;
background-color: #fbefcc;
line-height:1.1;
color:#674d3c;
text-decoration: underline;
}